body {
    padding: 0;
    margin: 0;
}

.container {
    display: flex;
    height: auto;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    /* background-color: #fff; */
    flex-direction: column;
}

/* search bar styles */

li {
    list-style: none;
}

.search-wrapper {
    position: relative;
    width: 33rem;
}

.search-bar {
    width: 100%;   
    padding-right: 10px; 
    height: 8vh;
    padding-left: 10px;
    border-radius: 50px;
    border: 2px solid black;
    font-size: 2vw;

}

.search-bar:hover {
    border: 2px solid black;
}

.search-btn {
    background-color: transparent;
    outline: none;
    border-style: none;
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    width: 40px;
    
}

.search-btn:hover {
    cursor: pointer;
}

/* article styles */

.article-wrapper {
    display: flex;
}

.article-title {
    font-size: 3vw;
    background-color: rgb(20, 20, 20);
    color: #fff;
    padding: 2vh 4vw;
}

.article-break {
    border-top: 2px solid rgb(20, 20, 20);
    margin-bottom: 1vh;
}

.article {
    width: 50vw;
}

.article-main {
    width: 50vw;
}


.article-main iframe, .article-main video {
    width: 50vw;
    border-radius: 5px; 
}

.article-main a {
    text-decoration: none;
    font-weight: 700;
    color: black;
}

.article-main a:hover {
    color: rgb(28, 33, 71);
}